
body{
    display:flex;
    font-family:monospace;
}

.main{
    /* styles and seperates the screen from the bottom  */
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 340px;
    margin: auto;
    margin-top: 200px;
    background-color: rgb(90, 20, 71);;

}

.bottom{
    /* styles the bottom */
    height: 350px;
    width: 340px;
    background-color:rgb(90, 20, 71);
}

.screen{
    /* does the blue thing where the numbers will appear */
    /* margin-left: px;
    margin-right: 5px; */
    margin:auto;
    margin-left: 15px;
    width: 308px;
    height: 75px;
    background-color: rgb(179, 148, 171);;
    border: 3px solid black;
}


.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 315px;
    height: 335px;
    border: 3px solid black; 
    margin: auto;
    margin-left: 10px;
}


.btn{
    height: 60px;
    width:73px;
    margin-top: 5px;
    margin-left: 5px;
    /* margin-right: 11px; */ 
    align-items: center;
    justify-content: center;
    border: 3px solid black; 
    font-weight: bold;
    font-size: 20px;
    
}





















.dark{
    background-color: rgb(228, 76, 134);
}

.side{
    background-color: rgb(199, 72, 180);
}

.num{
    background-color: rgb(225, 140, 188);
}

.zero{
    width: 151px;
    background-color: rgb(225, 140, 188);
} 














