
body{
    display:flex;
    /* justify-content: center;
    align-items: center; */
    font-family:monospace;
}

.main{
    display: flex;
    flex-direction: column-reverse;
    display:flex;
    height: 450px;
    width: 350px;
    margin: auto;
    margin-top: 200px;
    color: black;
    background-color: lightslategray;

}

.numbers{
    margin-top: 20px;
    height: 350px;
    width: 350px;
    background: lightgreen;
}

.screen{
    margin-left: 20px;
    margin-right: 20px;
    width: 305px;
    height: 60px;
    background-color: aqua;



}